<ion-view view-title="Danh sách SO">
    <ion-content class="" scroll="true">
        <input id='file' type="file" style="display: none;" onchange="angular.element(this).scope().filesChanged(this)" />
        <div class="bar-status" ng-click="LocationComplete()">
            <div ng-class="{'status-active':statusID == 1}">Đến</div>
            <div ng-class="{'status-active':statusID == 2}">Vào máng</div>
            <div ng-class="{'status-active':statusID == 3}">Ra máng</div>
            <div ng-class="{'status-active':statusID == 4}">Rời</div>
        </div>
        <ion-list>
            <ion-item ng-repeat="item in SOList" class="nopadding">
                <div class="cus-table" style="padding:10px 10px 5px 5px;line-height:10px;font-size:13px;color:#41484b;">
                    <div style="width:50%">Mã SO:{{item.SOCode}}</div>
                    <div style="width:25%">Tấn:{{item.Ton}}</div>
                    <div style="width:25%">Khối:{{item.CBM}}</div>
                </div>
                <ion-scroll direction="x" class="item wide-item" style="border:none;padding-bottom: 5px;">
                    <div class="slide-img">
                        <div ng-click="BtnUpload(item)" style="background-color: grey;overflow: hidden;display:inline-block;">
                            <img style="display:table-cell;margin: 20px 0px 0px 15px;" src="img/icam.png" />
                        </div>
                        <div ng-repeat="p in item.lstFile">
                            <img class="miniphoto" ng-click="showImages($index,item.lstFile)" src="{{Host}}{{p.FilePath}}" alt="{{p.FileName}}" title="{{p.FileName}}" />
                        </div>
                    </div>
                </ion-scroll>
                <span style="font-size:12px;color:#8e9699;line-height: 10px;">&nbsp;&nbsp;Chụp hóa đơn chứng từ</span>
                <div class="div-empty h10p"></div>
            </ion-item>           
        </ion-list>
    </ion-content>
</ion-view>
